--
-- PostgreSQL database dump
--

\restrict sWMnHQEfQ83T6WVkt5yht76YQVU8PfwXeJVt4PRrlFmF4KjVi2U7JJwqAnr6y7x

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: asignaciones_asesores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asignaciones_asesores (
    id text NOT NULL,
    postulacion_id text NOT NULL,
    docente_id text NOT NULL,
    fecha_asignacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.asignaciones_asesores OWNER TO postgres;

--
-- Name: carreras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carreras (
    id text NOT NULL,
    nombre text NOT NULL,
    area text NOT NULL,
    descripcion text,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    facultad_id text
);


ALTER TABLE public.carreras OWNER TO postgres;

--
-- Name: certificados_practicas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.certificados_practicas (
    id text NOT NULL,
    postulacion_id text NOT NULL,
    codigo text NOT NULL,
    fecha_emision timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    url_pdf text,
    qr_code text,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.certificados_practicas OWNER TO postgres;

--
-- Name: convenios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.convenios (
    id text NOT NULL,
    empresa_id text NOT NULL,
    tipo text NOT NULL,
    fecha_inicio timestamp(3) without time zone NOT NULL,
    fecha_fin timestamp(3) without time zone,
    estado text DEFAULT 'activo'::text NOT NULL,
    archivo_url text,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.convenios OWNER TO postgres;

--
-- Name: convocatorias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.convocatorias (
    id text NOT NULL,
    titulo text NOT NULL,
    descripcion text NOT NULL,
    fecha_inicio timestamp(3) without time zone NOT NULL,
    fecha_fin timestamp(3) without time zone NOT NULL,
    bases_url text,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.convocatorias OWNER TO postgres;

--
-- Name: coordinadores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coordinadores (
    id text NOT NULL,
    usuario_id text NOT NULL,
    facultad_id text NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.coordinadores OWNER TO postgres;

--
-- Name: docentes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.docentes (
    id text NOT NULL,
    usuario_id text NOT NULL,
    especialidad text NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    facultad text
);


ALTER TABLE public.docentes OWNER TO postgres;

--
-- Name: empresas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.empresas (
    id text NOT NULL,
    razon_social text NOT NULL,
    ruc text NOT NULL,
    direccion text,
    telefono text,
    correo_contacto text NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.empresas OWNER TO postgres;

--
-- Name: entregables_tesis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entregables_tesis (
    id text NOT NULL,
    tesis_id text NOT NULL,
    titulo text NOT NULL,
    descripcion text,
    fecha_limite timestamp(3) without time zone NOT NULL,
    fecha_entrega timestamp(3) without time zone,
    estado text DEFAULT 'pendiente'::text NOT NULL,
    archivo_url text,
    observaciones text,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.entregables_tesis OWNER TO postgres;

--
-- Name: estudiantes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estudiantes (
    id text NOT NULL,
    usuario_id text NOT NULL,
    codigo_univ text NOT NULL,
    carrera_id text NOT NULL,
    ciclo integer NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    expediente_url text,
    horas_totales integer DEFAULT 0 NOT NULL,
    practicas_completadas boolean DEFAULT false NOT NULL
);


ALTER TABLE public.estudiantes OWNER TO postgres;

--
-- Name: evaluaciones_practicas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluaciones_practicas (
    id text NOT NULL,
    postulacion_id text NOT NULL,
    rubrica jsonb NOT NULL,
    nota_final double precision,
    comentarios text,
    evaluador_id text NOT NULL,
    fecha_evaluacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.evaluaciones_practicas OWNER TO postgres;

--
-- Name: facultades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.facultades (
    id text NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    decano text,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.facultades OWNER TO postgres;

--
-- Name: informes_practicas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.informes_practicas (
    id text NOT NULL,
    postulacion_id text NOT NULL,
    tipo text NOT NULL,
    titulo text NOT NULL,
    contenido text,
    archivo_url text,
    fecha_entrega timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado text DEFAULT 'pendiente'::text NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    fecha_revision timestamp(3) without time zone,
    observaciones text
);


ALTER TABLE public.informes_practicas OWNER TO postgres;

--
-- Name: jurados_tesis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jurados_tesis (
    id text NOT NULL,
    tesis_id text NOT NULL,
    docente_id text NOT NULL,
    cargo text,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_asignacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.jurados_tesis OWNER TO postgres;

--
-- Name: ofertas_practicas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ofertas_practicas (
    id text NOT NULL,
    empresa_id text NOT NULL,
    titulo text NOT NULL,
    descripcion text NOT NULL,
    requisitos text NOT NULL,
    fecha_publicacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_limite_postulacion timestamp(3) without time zone NOT NULL,
    vacantes integer NOT NULL,
    estado text DEFAULT 'abierta'::text NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    convocatoria_id text,
    fecha_fin_practica timestamp(3) without time zone,
    fecha_inicio_practica timestamp(3) without time zone
);


ALTER TABLE public.ofertas_practicas OWNER TO postgres;

--
-- Name: pagos_practicas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pagos_practicas (
    id text NOT NULL,
    postulacion_id text NOT NULL,
    monto double precision NOT NULL,
    comprobante_url text,
    fecha_pago timestamp(3) without time zone NOT NULL,
    estado text DEFAULT 'pendiente'::text NOT NULL,
    observaciones text,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.pagos_practicas OWNER TO postgres;

--
-- Name: postulaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.postulaciones (
    id text NOT NULL,
    oferta_id text NOT NULL,
    estudiante_id text NOT NULL,
    fecha_postulacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado text DEFAULT 'pendiente'::text NOT NULL,
    curriculum_url text,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    carta_presentacion_url text,
    fecha_aprobacion timestamp(3) without time zone,
    fecha_culminacion timestamp(3) without time zone,
    fecha_fin timestamp(3) without time zone,
    fecha_inicio timestamp(3) without time zone
);


ALTER TABLE public.postulaciones OWNER TO postgres;

--
-- Name: proyectos_tesis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyectos_tesis (
    id text NOT NULL,
    estudiante_id text NOT NULL,
    asesor_id text NOT NULL,
    titulo text NOT NULL,
    descripcion text NOT NULL,
    estado text DEFAULT 'propuesta'::text NOT NULL,
    fecha_registro timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    fecha_aprobacion timestamp(3) without time zone
);


ALTER TABLE public.proyectos_tesis OWNER TO postgres;

--
-- Name: registros_horas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.registros_horas (
    id text NOT NULL,
    postulacion_id text NOT NULL,
    fecha timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    horas_trabajadas integer NOT NULL,
    descripcion_actividad text NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    validado_asesor boolean DEFAULT false NOT NULL,
    validado_empresa boolean DEFAULT false NOT NULL
);


ALTER TABLE public.registros_horas OWNER TO postgres;

--
-- Name: representantes_empresa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.representantes_empresa (
    id text NOT NULL,
    usuario_id text NOT NULL,
    empresa_id text NOT NULL,
    cargo text,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.representantes_empresa OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id text NOT NULL,
    nombre text NOT NULL,
    descripcion text
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: solicitudes_registro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitudes_registro (
    id text NOT NULL,
    correo text NOT NULL,
    contrasena text NOT NULL,
    nombre_completo text NOT NULL,
    rol_solicitado text NOT NULL,
    carrera_id text,
    ciclo integer,
    estado text DEFAULT 'pendiente'::text NOT NULL,
    observaciones text,
    fecha_solicitud timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_respuesta timestamp(3) without time zone,
    respondido_por text,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    cargo text,
    empresa_id text,
    especialidad text,
    facultad_id text,
    facultad text
);


ALTER TABLE public.solicitudes_registro OWNER TO postgres;

--
-- Name: sustentaciones_tesis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sustentaciones_tesis (
    id text NOT NULL,
    tesis_id text NOT NULL,
    fecha_hora timestamp(3) without time zone NOT NULL,
    lugar text,
    resultado text,
    acta_url text,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sustentaciones_tesis OWNER TO postgres;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id text NOT NULL,
    correo text NOT NULL,
    contrasena text NOT NULL,
    nombre_completo text,
    rol_id text NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(3) without time zone NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    debe_cambiar_contrasena boolean DEFAULT false NOT NULL,
    ultimo_cambio_contrasena timestamp(3) without time zone
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: asignaciones_asesores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.asignaciones_asesores (id, postulacion_id, docente_id, fecha_asignacion, fecha_creacion, fecha_actualizacion) FROM stdin;
3bca5840-5238-4671-b2d9-e3b636a81fed	12d01363-8d95-488a-ace4-bd0943040591	45689672-9516-436f-904b-d287d38dd631	2026-05-11 02:03:13.928	2026-05-11 02:03:13.928	2026-05-11 02:03:13.928
\.


--
-- Data for Name: carreras; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: certificados_practicas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.certificados_practicas (id, postulacion_id, codigo, fecha_emision, url_pdf, qr_code, fecha_creacion, fecha_actualizacion) FROM stdin;
\.


--
-- Data for Name: convenios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.convenios (id, empresa_id, tipo, fecha_inicio, fecha_fin, estado, archivo_url, fecha_creacion, fecha_actualizacion) FROM stdin;
1c1228ee-66b1-4fba-bb5c-48304d7877ea	e204914d-f944-4d56-afde-45d62611d804	Marco	2026-05-09 00:00:00	2026-05-21 00:00:00	activo	\N	2026-05-10 23:46:49.373	2026-05-10 23:46:49.373
c9d93408-0c61-4ade-85e2-7961e243b735	e204914d-f944-4d56-afde-45d62611d804	Marco	2026-05-01 00:00:00	2026-05-28 00:00:00	activo	https://www.youtube.com/	2026-05-11 01:41:22.468	2026-05-11 01:41:22.468
\.


--
-- Data for Name: convocatorias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.convocatorias (id, titulo, descripcion, fecha_inicio, fecha_fin, bases_url, activo, fecha_creacion, fecha_actualizacion) FROM stdin;
\.


--
-- Data for Name: coordinadores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coordinadores (id, usuario_id, facultad_id, activo, fecha_creacion, fecha_actualizacion) FROM stdin;
d8eb3967-c72b-441c-8f06-b25db7a6db9a	ce9a010c-6ae8-4f39-a420-4247df67f902	8ff25ba0-bcbb-4377-bade-021b8a2da841	t	2026-05-10 23:26:13.554	2026-05-10 23:26:13.554
\.


--
-- Data for Name: docentes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.docentes (id, usuario_id, especialidad, fecha_creacion, fecha_actualizacion, activo, facultad) FROM stdin;
45689672-9516-436f-904b-d287d38dd631	ae7f7b56-0e47-4f16-a59c-a59aac3a8642	Ingenier├¡a de Software	2026-05-10 23:26:13.401	2026-05-10 23:26:13.401	t	8ff25ba0-bcbb-4377-bade-021b8a2da841
\.


--
-- Data for Name: empresas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.empresas (id, razon_social, ruc, direccion, telefono, correo_contacto, activo, fecha_creacion, fecha_actualizacion) FROM stdin;
e204914d-f944-4d56-afde-45d62611d804	Tech Solutions S.A.C.	20459876123	Av. Industrial 456, Trujillo	044-234567	rrhh@techsolutions.com	t	2026-05-10 23:26:13.841	2026-05-10 23:26:13.841
\.


--
-- Data for Name: entregables_tesis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.entregables_tesis (id, tesis_id, titulo, descripcion, fecha_limite, fecha_entrega, estado, archivo_url, observaciones, fecha_creacion, fecha_actualizacion) FROM stdin;
e1481f6e-fca1-41fe-8154-286dea55acb2	8e767845-2969-4f38-a764-7803a843c5b1	Entregable 1	entregar documentos 1	2026-05-12 00:00:00	2026-05-11 02:59:14.988	aprobado	\N	\N	2026-05-11 02:58:40.53	2026-05-11 02:59:35.756
\.


--
-- Data for Name: estudiantes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estudiantes (id, usuario_id, codigo_univ, carrera_id, ciclo, activo, fecha_creacion, fecha_actualizacion, expediente_url, horas_totales, practicas_completadas) FROM stdin;
9a5d33d2-511b-4bf6-9916-18adf837ab56	9b964a75-7796-4909-9491-64ba38e153a6	2024-001234	3013ada6-2d63-4497-a560-673959d89356	5	t	2026-05-10 23:26:13.707	2026-05-11 02:56:42.929	\N	0	t
\.


--
-- Data for Name: evaluaciones_practicas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluaciones_practicas (id, postulacion_id, rubrica, nota_final, comentarios, evaluador_id, fecha_evaluacion, fecha_creacion, fecha_actualizacion) FROM stdin;
f838c0eb-b098-479b-a527-10f0b311f5e5	12d01363-8d95-488a-ace4-bd0943040591	{"calidad": 3, "puntualidad": 5, "responsabilidad": 4}	18	desempe├▒o bueno, casi destacable pero no tanto	45689672-9516-436f-904b-d287d38dd631	2026-05-11 02:55:24.578	2026-05-11 02:55:24.578	2026-05-11 02:55:24.578
\.


--
-- Data for Name: facultades; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: informes_practicas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: jurados_tesis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jurados_tesis (id, tesis_id, docente_id, cargo, fecha_creacion, fecha_asignacion) FROM stdin;
51a5c4ed-e4a2-4039-b917-9be9c983ed95	8e767845-2969-4f38-a764-7803a843c5b1	45689672-9516-436f-904b-d287d38dd631	Presidente	2026-05-11 02:59:28.069	2026-05-11 02:59:28.069
\.


--
-- Data for Name: ofertas_practicas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pagos_practicas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pagos_practicas (id, postulacion_id, monto, comprobante_url, fecha_pago, estado, observaciones, fecha_creacion, fecha_actualizacion) FROM stdin;
\.


--
-- Data for Name: postulaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.postulaciones (id, oferta_id, estudiante_id, fecha_postulacion, estado, curriculum_url, fecha_creacion, fecha_actualizacion, carta_presentacion_url, fecha_aprobacion, fecha_culminacion, fecha_fin, fecha_inicio) FROM stdin;
12d01363-8d95-488a-ace4-bd0943040591	4b35bd5f-a0c0-4634-a859-d72123f056df	9a5d33d2-511b-4bf6-9916-18adf837ab56	2026-05-11 02:02:24.187	aprobada	https://www.youtube.com/	2026-05-11 02:02:24.187	2026-05-11 02:02:48.658	\N	\N	\N	\N	\N
\.


--
-- Data for Name: proyectos_tesis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyectos_tesis (id, estudiante_id, asesor_id, titulo, descripcion, estado, fecha_registro, fecha_creacion, fecha_actualizacion, fecha_aprobacion) FROM stdin;
8e767845-2969-4f38-a764-7803a843c5b1	9a5d33d2-511b-4bf6-9916-18adf837ab56	45689672-9516-436f-904b-d287d38dd631	Tesis 1	arreglo de computadoras	finalizada	2026-05-11 02:56:42.941	2026-05-11 02:56:42.941	2026-05-11 03:03:51.289	\N
\.


--
-- Data for Name: registros_horas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: representantes_empresa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.representantes_empresa (id, usuario_id, empresa_id, cargo, fecha_creacion, fecha_actualizacion, activo) FROM stdin;
aa7dcea8-126f-4444-b1cb-9c6a6e7ba726	407ff083-470d-4363-b899-dfa5897bbb1f	e204914d-f944-4d56-afde-45d62611d804	Gerente de RRHH	2026-05-10 23:26:13.871	2026-05-11 02:29:34.627	t
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, nombre, descripcion) FROM stdin;
85d06688-718a-40f4-8856-73f3c115527a	ADMINISTRADOR	Control total del sistema
6a3e55ff-7963-4dbe-a516-098163125862	COORDINADOR	Coordinador de facultad
d85fee16-28c4-4956-98f1-65ac1d040e32	DOCENTE	Docente/Asesor
dfe7a9f5-90af-417a-8b0c-ff2d1d389650	ESTUDIANTE	Estudiante
7d611531-8b52-4447-8c74-83540d977681	REPRESENTANTE_EMPRESA	Representante de empresa
\.


--
-- Data for Name: solicitudes_registro; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.solicitudes_registro (id, correo, contrasena, nombre_completo, rol_solicitado, carrera_id, ciclo, estado, observaciones, fecha_solicitud, fecha_respuesta, respondido_por, fecha_creacion, fecha_actualizacion, cargo, empresa_id, especialidad, facultad_id, facultad) FROM stdin;
\.


--
-- Data for Name: sustentaciones_tesis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sustentaciones_tesis (id, tesis_id, fecha_hora, lugar, resultado, acta_url, fecha_creacion, fecha_actualizacion) FROM stdin;
6bd77e91-6c1a-428f-b700-f33d2a4f73e3	8e767845-2969-4f38-a764-7803a843c5b1	2026-05-30 15:00:00	Postgrado - UNT	Aprobado con menci├│n	https://web.whatsapp.com/	2026-05-11 03:01:16.183	2026-05-11 03:03:17.583
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: asignaciones_asesores asignaciones_asesores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asignaciones_asesores
    ADD CONSTRAINT asignaciones_asesores_pkey PRIMARY KEY (id);


--
-- Name: carreras carreras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carreras
    ADD CONSTRAINT carreras_pkey PRIMARY KEY (id);


--
-- Name: certificados_practicas certificados_practicas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificados_practicas
    ADD CONSTRAINT certificados_practicas_pkey PRIMARY KEY (id);


--
-- Name: convenios convenios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.convenios
    ADD CONSTRAINT convenios_pkey PRIMARY KEY (id);


--
-- Name: convocatorias convocatorias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.convocatorias
    ADD CONSTRAINT convocatorias_pkey PRIMARY KEY (id);


--
-- Name: coordinadores coordinadores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coordinadores
    ADD CONSTRAINT coordinadores_pkey PRIMARY KEY (id);


--
-- Name: docentes docentes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.docentes
    ADD CONSTRAINT docentes_pkey PRIMARY KEY (id);


--
-- Name: empresas empresas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT empresas_pkey PRIMARY KEY (id);


--
-- Name: entregables_tesis entregables_tesis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entregables_tesis
    ADD CONSTRAINT entregables_tesis_pkey PRIMARY KEY (id);


--
-- Name: estudiantes estudiantes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estudiantes
    ADD CONSTRAINT estudiantes_pkey PRIMARY KEY (id);


--
-- Name: evaluaciones_practicas evaluaciones_practicas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluaciones_practicas
    ADD CONSTRAINT evaluaciones_practicas_pkey PRIMARY KEY (id);


--
-- Name: facultades facultades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facultades
    ADD CONSTRAINT facultades_pkey PRIMARY KEY (id);


--
-- Name: informes_practicas informes_practicas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.informes_practicas
    ADD CONSTRAINT informes_practicas_pkey PRIMARY KEY (id);


--
-- Name: jurados_tesis jurados_tesis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jurados_tesis
    ADD CONSTRAINT jurados_tesis_pkey PRIMARY KEY (id);


--
-- Name: ofertas_practicas ofertas_practicas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ofertas_practicas
    ADD CONSTRAINT ofertas_practicas_pkey PRIMARY KEY (id);


--
-- Name: pagos_practicas pagos_practicas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos_practicas
    ADD CONSTRAINT pagos_practicas_pkey PRIMARY KEY (id);


--
-- Name: postulaciones postulaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulaciones
    ADD CONSTRAINT postulaciones_pkey PRIMARY KEY (id);


--
-- Name: proyectos_tesis proyectos_tesis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyectos_tesis
    ADD CONSTRAINT proyectos_tesis_pkey PRIMARY KEY (id);


--
-- Name: registros_horas registros_horas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_horas
    ADD CONSTRAINT registros_horas_pkey PRIMARY KEY (id);


--
-- Name: representantes_empresa representantes_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representantes_empresa
    ADD CONSTRAINT representantes_empresa_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: solicitudes_registro solicitudes_registro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitudes_registro
    ADD CONSTRAINT solicitudes_registro_pkey PRIMARY KEY (id);


--
-- Name: sustentaciones_tesis sustentaciones_tesis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sustentaciones_tesis
    ADD CONSTRAINT sustentaciones_tesis_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: asignaciones_asesores_docente_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX asignaciones_asesores_docente_id_idx ON public.asignaciones_asesores USING btree (docente_id);


--
-- Name: asignaciones_asesores_postulacion_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX asignaciones_asesores_postulacion_id_idx ON public.asignaciones_asesores USING btree (postulacion_id);


--
-- Name: carreras_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX carreras_nombre_key ON public.carreras USING btree (nombre);


--
-- Name: certificados_practicas_codigo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX certificados_practicas_codigo_key ON public.certificados_practicas USING btree (codigo);


--
-- Name: certificados_practicas_postulacion_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX certificados_practicas_postulacion_id_idx ON public.certificados_practicas USING btree (postulacion_id);


--
-- Name: certificados_practicas_postulacion_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX certificados_practicas_postulacion_id_key ON public.certificados_practicas USING btree (postulacion_id);


--
-- Name: convenios_empresa_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX convenios_empresa_id_idx ON public.convenios USING btree (empresa_id);


--
-- Name: coordinadores_facultad_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX coordinadores_facultad_id_idx ON public.coordinadores USING btree (facultad_id);


--
-- Name: coordinadores_usuario_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX coordinadores_usuario_id_idx ON public.coordinadores USING btree (usuario_id);


--
-- Name: coordinadores_usuario_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX coordinadores_usuario_id_key ON public.coordinadores USING btree (usuario_id);


--
-- Name: docentes_usuario_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX docentes_usuario_id_idx ON public.docentes USING btree (usuario_id);


--
-- Name: docentes_usuario_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX docentes_usuario_id_key ON public.docentes USING btree (usuario_id);


--
-- Name: empresas_correo_contacto_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX empresas_correo_contacto_key ON public.empresas USING btree (correo_contacto);


--
-- Name: empresas_ruc_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX empresas_ruc_key ON public.empresas USING btree (ruc);


--
-- Name: entregables_tesis_tesis_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX entregables_tesis_tesis_id_idx ON public.entregables_tesis USING btree (tesis_id);


--
-- Name: estudiantes_codigo_univ_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estudiantes_codigo_univ_idx ON public.estudiantes USING btree (codigo_univ);


--
-- Name: estudiantes_codigo_univ_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX estudiantes_codigo_univ_key ON public.estudiantes USING btree (codigo_univ);


--
-- Name: estudiantes_usuario_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estudiantes_usuario_id_idx ON public.estudiantes USING btree (usuario_id);


--
-- Name: estudiantes_usuario_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX estudiantes_usuario_id_key ON public.estudiantes USING btree (usuario_id);


--
-- Name: evaluaciones_practicas_postulacion_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluaciones_practicas_postulacion_id_idx ON public.evaluaciones_practicas USING btree (postulacion_id);


--
-- Name: evaluaciones_practicas_postulacion_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX evaluaciones_practicas_postulacion_id_key ON public.evaluaciones_practicas USING btree (postulacion_id);


--
-- Name: facultades_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX facultades_nombre_key ON public.facultades USING btree (nombre);


--
-- Name: informes_practicas_postulacion_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX informes_practicas_postulacion_id_idx ON public.informes_practicas USING btree (postulacion_id);


--
-- Name: jurados_tesis_docente_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jurados_tesis_docente_id_idx ON public.jurados_tesis USING btree (docente_id);


--
-- Name: jurados_tesis_tesis_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jurados_tesis_tesis_id_idx ON public.jurados_tesis USING btree (tesis_id);


--
-- Name: ofertas_practicas_empresa_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ofertas_practicas_empresa_id_idx ON public.ofertas_practicas USING btree (empresa_id);


--
-- Name: pagos_practicas_postulacion_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pagos_practicas_postulacion_id_idx ON public.pagos_practicas USING btree (postulacion_id);


--
-- Name: pagos_practicas_postulacion_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX pagos_practicas_postulacion_id_key ON public.pagos_practicas USING btree (postulacion_id);


--
-- Name: postulaciones_estudiante_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX postulaciones_estudiante_id_idx ON public.postulaciones USING btree (estudiante_id);


--
-- Name: postulaciones_oferta_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX postulaciones_oferta_id_idx ON public.postulaciones USING btree (oferta_id);


--
-- Name: proyectos_tesis_asesor_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyectos_tesis_asesor_id_idx ON public.proyectos_tesis USING btree (asesor_id);


--
-- Name: proyectos_tesis_estudiante_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyectos_tesis_estudiante_id_idx ON public.proyectos_tesis USING btree (estudiante_id);


--
-- Name: registros_horas_postulacion_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX registros_horas_postulacion_id_idx ON public.registros_horas USING btree (postulacion_id);


--
-- Name: representantes_empresa_empresa_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX representantes_empresa_empresa_id_idx ON public.representantes_empresa USING btree (empresa_id);


--
-- Name: representantes_empresa_usuario_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX representantes_empresa_usuario_id_idx ON public.representantes_empresa USING btree (usuario_id);


--
-- Name: representantes_empresa_usuario_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX representantes_empresa_usuario_id_key ON public.representantes_empresa USING btree (usuario_id);


--
-- Name: roles_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX roles_nombre_key ON public.roles USING btree (nombre);


--
-- Name: solicitudes_registro_correo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX solicitudes_registro_correo_key ON public.solicitudes_registro USING btree (correo);


--
-- Name: solicitudes_registro_estado_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX solicitudes_registro_estado_idx ON public.solicitudes_registro USING btree (estado);


--
-- Name: solicitudes_registro_rol_solicitado_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX solicitudes_registro_rol_solicitado_idx ON public.solicitudes_registro USING btree (rol_solicitado);


--
-- Name: sustentaciones_tesis_tesis_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sustentaciones_tesis_tesis_id_idx ON public.sustentaciones_tesis USING btree (tesis_id);


--
-- Name: sustentaciones_tesis_tesis_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX sustentaciones_tesis_tesis_id_key ON public.sustentaciones_tesis USING btree (tesis_id);


--
-- Name: usuarios_correo_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_correo_idx ON public.usuarios USING btree (correo);


--
-- Name: usuarios_correo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX usuarios_correo_key ON public.usuarios USING btree (correo);


--
-- Name: asignaciones_asesores asignaciones_asesores_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asignaciones_asesores
    ADD CONSTRAINT asignaciones_asesores_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.docentes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: asignaciones_asesores asignaciones_asesores_postulacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asignaciones_asesores
    ADD CONSTRAINT asignaciones_asesores_postulacion_id_fkey FOREIGN KEY (postulacion_id) REFERENCES public.postulaciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: carreras carreras_facultad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carreras
    ADD CONSTRAINT carreras_facultad_id_fkey FOREIGN KEY (facultad_id) REFERENCES public.facultades(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: certificados_practicas certificados_practicas_postulacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificados_practicas
    ADD CONSTRAINT certificados_practicas_postulacion_id_fkey FOREIGN KEY (postulacion_id) REFERENCES public.postulaciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: convenios convenios_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.convenios
    ADD CONSTRAINT convenios_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES public.empresas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: coordinadores coordinadores_facultad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coordinadores
    ADD CONSTRAINT coordinadores_facultad_id_fkey FOREIGN KEY (facultad_id) REFERENCES public.facultades(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: coordinadores coordinadores_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coordinadores
    ADD CONSTRAINT coordinadores_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: docentes docentes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.docentes
    ADD CONSTRAINT docentes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entregables_tesis entregables_tesis_tesis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entregables_tesis
    ADD CONSTRAINT entregables_tesis_tesis_id_fkey FOREIGN KEY (tesis_id) REFERENCES public.proyectos_tesis(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: estudiantes estudiantes_carrera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estudiantes
    ADD CONSTRAINT estudiantes_carrera_id_fkey FOREIGN KEY (carrera_id) REFERENCES public.carreras(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: estudiantes estudiantes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estudiantes
    ADD CONSTRAINT estudiantes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: evaluaciones_practicas evaluaciones_practicas_evaluador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluaciones_practicas
    ADD CONSTRAINT evaluaciones_practicas_evaluador_id_fkey FOREIGN KEY (evaluador_id) REFERENCES public.docentes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: evaluaciones_practicas evaluaciones_practicas_postulacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluaciones_practicas
    ADD CONSTRAINT evaluaciones_practicas_postulacion_id_fkey FOREIGN KEY (postulacion_id) REFERENCES public.postulaciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: informes_practicas informes_practicas_postulacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.informes_practicas
    ADD CONSTRAINT informes_practicas_postulacion_id_fkey FOREIGN KEY (postulacion_id) REFERENCES public.postulaciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: jurados_tesis jurados_tesis_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jurados_tesis
    ADD CONSTRAINT jurados_tesis_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.docentes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: jurados_tesis jurados_tesis_tesis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jurados_tesis
    ADD CONSTRAINT jurados_tesis_tesis_id_fkey FOREIGN KEY (tesis_id) REFERENCES public.proyectos_tesis(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ofertas_practicas ofertas_practicas_convocatoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ofertas_practicas
    ADD CONSTRAINT ofertas_practicas_convocatoria_id_fkey FOREIGN KEY (convocatoria_id) REFERENCES public.convocatorias(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ofertas_practicas ofertas_practicas_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ofertas_practicas
    ADD CONSTRAINT ofertas_practicas_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES public.empresas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pagos_practicas pagos_practicas_postulacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos_practicas
    ADD CONSTRAINT pagos_practicas_postulacion_id_fkey FOREIGN KEY (postulacion_id) REFERENCES public.postulaciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: postulaciones postulaciones_estudiante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulaciones
    ADD CONSTRAINT postulaciones_estudiante_id_fkey FOREIGN KEY (estudiante_id) REFERENCES public.estudiantes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: postulaciones postulaciones_oferta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulaciones
    ADD CONSTRAINT postulaciones_oferta_id_fkey FOREIGN KEY (oferta_id) REFERENCES public.ofertas_practicas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: proyectos_tesis proyectos_tesis_asesor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyectos_tesis
    ADD CONSTRAINT proyectos_tesis_asesor_id_fkey FOREIGN KEY (asesor_id) REFERENCES public.docentes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: proyectos_tesis proyectos_tesis_estudiante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyectos_tesis
    ADD CONSTRAINT proyectos_tesis_estudiante_id_fkey FOREIGN KEY (estudiante_id) REFERENCES public.estudiantes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: registros_horas registros_horas_postulacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_horas
    ADD CONSTRAINT registros_horas_postulacion_id_fkey FOREIGN KEY (postulacion_id) REFERENCES public.postulaciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: representantes_empresa representantes_empresa_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representantes_empresa
    ADD CONSTRAINT representantes_empresa_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES public.empresas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: representantes_empresa representantes_empresa_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representantes_empresa
    ADD CONSTRAINT representantes_empresa_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sustentaciones_tesis sustentaciones_tesis_tesis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sustentaciones_tesis
    ADD CONSTRAINT sustentaciones_tesis_tesis_id_fkey FOREIGN KEY (tesis_id) REFERENCES public.proyectos_tesis(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: usuarios usuarios_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict sWMnHQEfQ83T6WVkt5yht76YQVU8PfwXeJVt4PRrlFmF4KjVi2U7JJwqAnr6y7x

